name: Build + Update reccmp Report

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  fetch-deps:
    name: Download original binary
    uses: ./.github/workflows/cmr2bin.yml

  build:
    name: Build (MSVC 6.0)
    needs: [fetch-deps]
    runs-on: "windows-latest"

    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive

      - name: Fetch MSVC 6.0
        uses: actions/checkout@main
        with:
          repository: itsmattkc/msvc600
          path: msvc600

      - name: Build
        shell: cmd
        run: |
          mkdir build
          call .\msvc600\VC98\bin\VCVARS32.BAT x86
          call .\msvc600\VC98\bin\cl.exe .\CMR2Decomp\*.cpp /Fe"build/CMR2.exe" /O2 /DNDEBUG /Zi /Gz /MD /link user32.lib gdi32.lib advapi32.lib /DEBUG /PDB:"build\CMR2.pdb" /SUBSYSTEM:WINDOWS

      - name: Upload Build
        uses: actions/upload-artifact@main
        with:
          name: Win32
          path: |
            build/CMR2.exe
            build/CMR2.pdb

  verify:
    name: Verify decomp
    needs: [build, fetch-deps]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@main
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: actions/download-artifact@main
        with:
          name: Win32
          path: build

      - name: Restore cached original binary
        id: cache-original-binary
        uses: actions/cache/restore@v4
        with:
          enableCrossOsArchive: true
          path: cmr2bin
          key: cmr2bin

      - name: Install reccmp
        shell: bash
        run: |
          pip install git+https://github.com/isledecomp/reccmp

      # - name: Restore cached reccmp install
      #   id: cache-reccmp-install
      #   uses: actions/cache/restore@v4
      #   with:
      #     enableCrossOsArchive: true
      #     path: reccmp-python-package
      #     key: reccmp-python-package

      # - name: Install reccmp python package
      #   if: ${{ !steps.cache-reccmp-install.outputs.cache-hit }}
      #   run: |
      #     pip install git+https://github.com/isledecomp/reccmp

      # - name: Cache reccmp install
      #   if: ${{ !steps.cache-reccmp-install.outputs.cache-hit }}
      #   uses: actions/cache/save@v4
      #   with:
      #     enableCrossOsArchive: true
      #     path: reccmp-python-package
      #     key: reccmp-python-package

      - name: Detect binary
        run: |
          reccmp-project detect --what original   --search-path cmr2bin
          reccmp-project detect --what recompiled --search-path build

      - name: Compare Accuracy to main
        if: github.ref != 'refs/heads/main' # Only runs on pull requests
        shell: bash
        env:
          RELEASE_URL: https://raw.githubusercontent.com/CMR2Decomp/CMR2Decomp/refs/heads/main/CMR2PROGRESS/
        run: |
          # Download the current main state
          curl -fLSs -o summary-old.json $RELEASE_URL/summary.json || echo "" >summary-old.json

          # Compare with current main
          reccmp-reccmp --target CMR2 --html index.html --json CMR2PROGRESS/summary.json --diff summary-old.json || echo "Current master not found"

      - name: Test Exports
        shell: bash
        run: |
          reccmp-verexp --target CMR2

      # Don't have any vtables yet
      # - name: Check Vtables
      #   shell: bash
      #   run: |
      #     reccmp-vtable --target CMR2

      - name: Check Variables
        shell: bash
        run: |
          reccmp-datacmp --target CMR2

      - name: Commit Accuracy Reports
        if: github.ref != 'refs/heads/main' # Only runs on the 'main' branch
        shell: bash
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add index.html CMR2PROGRESS/summary.json
          git commit -m "chore: update accuracy reports"
          git push
